
<link rel="stylesheet" href="{{ asset( 'bundles/needyou/css/main.css' ) }}" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ asset( 'bundles/needyou/js/main.js' ) }}" ></script>
<script>
    var jau = jQuery.jAvatarUploadable();
</script>
<body>

{% include 'OptimusDefaultBundle:Snippets:avatarUploadable.html.twig' %}

<div class="center"> 
  <div class="head"  >
    <div style="float:left">
  	 <img src="{{asset('bundles/needyou/images/logo.png')}}"> 
    </div>
    {% if app.user is not null %}
          {% include 'OptimusDefaultBundle:Snippets:topBar.html.twig' %}
    {% endif %}
  </div>
  <div style="clear:both;"></div>
    <div style="float:left">
          {%   include 'OptimusDefaultBundle:Default:leftBar.html.twig' with {'last_username':''} %}
   </div>
    
<div class="main-content">
  <div class="info-bar">
    <div class="name-bar">    
      Bauyrzhan Makhambetov
    </div>
    <div class="status-bar">
      Online
    </div>
  </div>
    {% if app.user is null %}
       {% include 'OptimusDefaultBundle:Default:default.html.twig' %}
    {% else %}
    <div class="long-left-menu">
      <div id="avatar-container" style="position: relative">
          <div class="avatar-im">
            {% if app.user is null or app.user.pic == "default" %}
                <img src="{{asset('bundles/needyou/images/camera_a.gif')}}" style="height:15em; width:15em;">
            {% else %}
            <img src="{{app.user.pic}}" style="height:20em; width:15em;">
            {% endif %}
          </div>
          <div style="position: absolute; left: 5em; top: 12em;"><a id="photo" class="hrefUnderlineOnHover" onclick="jau.toggleOverlay()">Сменить фото</a> </div>
      </div>
      <div class="edit-profile">
        <a href="vk.com">Редактировать страницу</a>
      </div>
      <div class="edit-prof-under">      
      </div>
      <div id="counters-bar">
        <div class="photos">
          <a href="vk.com">Фотографии со мной</a>
        </div>
        <div class="videos">
          <a href="vk.com">Видеозаписи со мной</a>
        </div>
        <div class="subs">
          <a href="vk.com">Мои подписчики</a>
        </div>
      </div>
    </div>
      <div class="user-info-bar">
        dsfs
      </div>

    {% endif %}
    {#<div>#}

  {#Optimus Group Incorporation#}

    {#<p>Default </p>#}
    {#<p>Default </p>#}
    {#<p>Default </p>#}
    {#<p>Default </p>#}
    {#<p>Default </p>#}
    {#<p>Default </p>#}
    {#<p>Default </p>#}

    {#<p>Default </p><p>Default </p>#}
    {#<p>Default </p>#}
    {#</div>#}
  {% block content %}

    
  {% endblock %}
 </div>
</div>

</body>