<div style="float: left; height:1em; top:25%; position: relative;">

       <div id="ts_wrap">
            <input id="ts_input" type="text" onmousedown="event.cancelBubble = true" class="text"  onkeyup="tss.toggleBar();" onclick="tss.toggleBar();" />
       </div>
       <!-- <div style="float: left; height: 2em; top: 2em; left: 20em;  position: absolute; ">
         <img src="{{asset('bundles/needyou/images/lupa.png')}}" height="3em" />
       </div> -->
      
</div>

<div id="menuWrap" style="position: relative; float:left; margin-top: 0.4em; margin-left: 2em;">
  
 <div style="left: 16em;" class="menuText selectable" >
          <a href="#" class="hrefMenu">люди</a>
       </div>
       <div style="left: 20em;" class="menuText selectable">
          <a href="#" class="hrefMenu">сообщества</a>
       </div>
       <div style="left: 28em;" class="menuText selectable">
          <a href="#" class="hrefMenu">игры</a>
       </div>
       <div style="left: 32em;" class="menuText selectable">
          <a href="#" class="hrefMenu">музыка</a>
       </div>
        <div style="left: 37.5em;" class="menuText selectable">
          <a href="{{ path('_my_security_logout') }}" class="hrefMenu">выйти</a>
       </div>
</div>
<div id="ts_content_wrap" >
    <div id="ts_content_guide" id="ts_guide" style="height: 40px;" onmouseover="tss.isActive(this,this,this);" onmouseout="tss.deselect(this);">
        <span class="ts_contact_name fl_l" style="font-weight: normal; font-size: 11px;">
           Искать <span style="font-weight: bold" id="ts_word">слово</span>
        </span>
    </div>
    <div id="ts_content_list" ">
    </div>
    {#<a href="sdf"><div  class="ts_content" id="contact_1" onmouseover = "tss.isActive(this,this,this);" onmouseout="tss.deselect(this)">#}
         {#<span class="ts_contact_photo fl_l"><img src="{{asset('bundles/needyou/images/tore_small.jpg')}}" /></span>#}

            {#<span class="ts_contact_name fl_l">#}
                   {#Вася <em class="ts_contact_h1">Пуп</em>кин#}
                {#<div class="ts_contact_info"> 26 лет, Алматы </div>#}
             {#</span>#}
         {#</div>#}
    {#</a>#}

    {#<a href="sdf"><div  class="ts_content" id="contact_2" onmouseover = "tss.isActive(this,this,this);" onmouseout="tss.deselect(this)">#}
            {#<span class="ts_contact_photo fl_l"><img src="{{asset('bundles/needyou/images/tore_small.jpg')}}" /></span>#}

            {#<span class="ts_contact_name fl_l">#}
                   {#Вася <em class="ts_contact_h1">Пуп</em>кин#}
                {#<div class="ts_contact_info"> 26 лет, Алматы </div>#}
             {#</span>#}
        {#</div>#}
    {#</a>#}

    {#<a href="sdf"><div  class="ts_content" id="contact_3" onmouseover = "tss.isActive(this,this,this);" onmouseout="tss.deselect(this)">#}
            {#<span class="ts_contact_photo fl_l"><img src="{{asset('bundles/needyou/images/tore_small.jpg')}}" /></span>#}

            {#<span class="ts_contact_name fl_l">#}
                   {#Вася <em class="ts_contact_h1">Пуп</em>кин#}
                {#<div class="ts_contact_info"> 26 лет, Алматы </div>#}
             {#</span>#}
        {#</div>#}
    {#</a>#}




</div>