
<link rel="stylesheet" href="{{ asset( 'bundles/needyou/css/main.css' ) }}" />


<div class="center"  >
  <div style="float:left">
	 <img src="{{asset('bundles/needyou/images/logo.png')}}"> 
  </div>

  <div style="float: left; height:1em; margin-top:0.5em; position: relative;">
     <input type="text" name="search" style="top: 0.18em; left: 1em; position: relative; height: 1.75em;"/>
     <div style="top: 0.2em; left: -0.35em; position:absolute;">
        <img src="{{asset('bundles/needyou/images/lupa.png')}}" style="height:1.35em;" />
     </div>
     <div style="float: left; height: 1em; top: 0.2em; left: 9.3em; position: absolute; ">
        <img src="{{asset('bundles/needyou/images/user.png')}}" style="height: 1.35em" />
     </div>
     <!-- <div style="float: left; height: 2em; top: 2em; left: 20em;  position: absolute; ">
       <img src="{{asset('bundles/needyou/images/lupa.png')}}" height="3em" />
     </div> -->
     <div style="left: 16em;" class="menuText selectable" >
        люди
     </div>
     <div style="left: 19em;" class="menuText selectable">
        сообщества
     </div>
  </div>

  <!-- <div style="float:left; height: 31px; margin-top: 10px; margin-left: 10px; position: relative;">
     <input type="text" name="search" style="display: inline-block; value: 'sdf'" value="Search" />  
     <div style="float: left; height: 35px; top: 2px; left: -18px;  position: absolute; ">
  	   <img src="{{asset('bundles/needyou/images/lupa.png')}}" height="21px" />
  	 </div>
  	 <div style="float: left; height: 35px; top: 2px; left: 138px;  position: absolute; ">
  	   <img src="{{asset('bundles/needyou/images/user.png')}}" height="21px" />
  	 </div>
     
  </div>
	 --> 
</div>

<div style="clear:both;"></div>


Optimus Group Incorporation

{% block content %}

  <p>Default </p>

{% endblock %}
